<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/style.css">
    <title>{{ puzzle_type.title() }} - PuzzleGenie</title>
</head>
<body>
    <h1 style="font-family: National Park, sans-serif;">{{ puzzle_type.title() }} Puzzle</h1>
    <p style="padding-top: 30px;"><strong>Rules:</strong> {{ rules }}</p>
    <div style="height: 70px;">
        {{ puzzle_html|safe }}
    </div>
    <form method="post" style="padding-top: 420px;">
        <input type="text" name="answer" placeholder="Enter your answer">
        <button type="submit">Submit</button>
    </form>

    {% if result %}
        <p><strong>{{ result }}</strong></p>
        {% if show_solution %}
        <form method="post">
            <input type="hidden" name="reveal" value="yes">
            <button type="submit">Show Solution</button>
        </form>
        {% endif %}
    {% endif %}

    {% if solution %}
        <p><strong>Solution:</strong> {{ solution }}</p>
    {% endif %}

    <br><a href="/">Back to Home</a>
</body>
</html>
